#sme-settings {
    width: 1000px;
    margin: 0 auto;
    padding: 15px;

    header {
        & > h3 {
            display: inline-block;
            cursor: pointer;
            margin: 0.7em;

            &:nth-of-type(1) {
                margin-left: 0;
            }

            &:nth-of-type(-1) {
                margin-right: 0;
            }
    
            &.active {
                text-decoration: underline;
            }
        }
    }
    
    main {
        padding: 10px 25px;
        background-color: $bg-color;

        & > div {
            display: none;
    
            &.active {
                display: block;
            }
        }

        .settings {
            label {
                display: inline-block;
                width: 250px;
            }
            input[type="text"] {
                width: 350px;
            }

            .settings-section {                
                .setting-row {
                    margin-bottom: 5px;

                    .fa-question {
                        top: -1px;
                        position: relative;

                        &:hover {
                            .tooltip {
                              visibility: visible;
                              opacity: 1;
                              transform: translate(-50%, -110%);
                            }
                          }

                        .tooltip {
                            color: $bg-color;
                            background-color: $text-color;
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 50%;
                            padding: 0.8rem 1rem;
                            border-radius: 3px;
                            opacity: 0;
                            pointer-events: none;
                            transform: translate(-50%, -100%);
                            transition: all 0.3s ease;
                            z-index: 5;
                            width: 250px;

                            .tooltip-title {
                                margin-top: 5px;
                                display: inline-block;
                                border-bottom: 1px solid $bg-color;
                            }

                            ul {
                                font-size: 0.9em;
                                margin: 2px 0;
                                padding: 0;

                                li {
                                    margin-bottom: 2px;
                                }
                            }
                        }   
                    }
                }
            }

            .settings-section:not(:last-of-type) {
                padding: 0 0 10px 0;
                border-bottom: 1px solid $line-color;
            }
            .settings-section:nth-of-type(n+1) {
                padding: 10px 0 0 0;
            }
        }
    }
    
}